NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

MONGODB_URI=mongodb+srv://afrazmishak_db_user:3WmxWT30KXFk4ioS@customer-support-cluste.egjv1kb.mongodb.net/customer_support_platform?retryWrites=true&w=majority&appName=customer-support-cluster

BCRYPT_ROUNDS=12

JWT_SECRET=68b20c6a74f058b4837c340ed55e05717fc1887f92a1a47370fce7bca41b32f2b9957e1d94e067396023c09cab6da6dca25ea3289b801b20ada11f724278b81c
JWT_EXPIRES_IN_SECONDS=604800
AUTH_COOKIE_NAME=support_session